(ПРИКЛАД КОДУ З СМАЙЛАМИ ❤️,😁 та буквою ℬ)

package namer;
public class Unicode8 {
  public static void main(String[] args) {
  
    System.out.println("\1F606");

    System.out.println("\1F32D");
    
    System.out.println("\1F635");
  }
}
